*{
    margin: 0;
    padding: 0;
}
.page1{
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.page2{
    background-color: lightblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 300px;
    width: 300px;
}