*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#inner{
    width: 250px;
    height: 250px;
    background-color: aqua;
}
#inner2{
    width: 250px;
    height: 250px;
    background-color: rgb(180, 248, 162);
}
body{
    background-color: black;
}
h1{
    color: white;
}